repos:
  - repo: local
    hooks:
    - id: cargo check
      name: cargo check
      description: Check the package for errors
      entry: cargo check
      args: ["--workspace"]
      language: system
      types: [rust]
      pass_filenames: false
    - id: clippy
      name: cargo clippy
      description: Lint rust sources
      entry: cargo clippy
      language: system
      args: ["--all", "--", "-D", "warnings"]
      types: [rust]
      pass_filenames: false
    - id: fmt
      name: cargo fmt
      description: Format files with cargo fmt
      entry: cargo fmt
      language: system
      types: [rust]
      args: ["--all", "--"]
  - repo: https://github.com/espressif/conventional-precommit-linter
    rev: v1.10.0
    hooks:
      - id: conventional-precommit-linter
        stages: [commit-msg]
        args:
          # https://github.com/conventional-changelog/commitlint/tree/master/%40commitlint/config-conventional#type-enum
          - --types=[build,chore,ci,docs,feat,fix,perf,refactor,revert,style,test]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
    - id: check-byte-order-marker
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: trailing-whitespace
