<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="color-scheme" content="light dark">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="Frontend-focused full-stack product engineer with deep TypeScript/React expertise, 0→1 delivery experience, and emerging Rust proficiency." >
		<title>Kirill Taletski - Senior Frontend-Focused Full-Stack Product Engineer</title>
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg?v=4">
		<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
		<style>
        {{ include_str!("../templates/base.css") | safe }}
    </style>
	</head>

	<body>
		<header>
			{% include "partials/header.html" %}
		<header>

		<main>
			{% block content %}{% endblock content %}
		<main>
	</body>
</html>
