{% extends "base.html" %}

{% block content %}
	<p>
- 5+ years of product-focused engineering with TypeScript, React, and Node.js.
- Recent experience as a Technical Product Manager, shipping features that doubled subscribers to over 20,000.
- Architected and built core systems for OAuth, payments (Stripe), AI features and UI component libraries used by multiple squads.
- Ensured production stability by creating a BDD test harness that resulted in zero P1-P3 frontend bugs for 12 consecutive months.
	</p>
{% endblock content %}
