<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="color-scheme" content="light dark">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		{# Title and description should be unique per page for the best SEO #}
		<title>{% block title %}{% endblock title %}</title>
		<meta name="description" content="{% block description %}{% endblock description %}">

		{# Per page tags #}
		{% block head %}{% endblock head %}

		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg?v=4">
		<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
		<style>
        {{ include_str!("base/base.css") | safe }}
    </style>
	</head>

	<body class="flex flex-col items-stretch">
		<header class="w-full">
			{% include "partials/header.html" %}
		</header>

		<main class="flex flex-col flex-grow items-center">
			{% block content %}{% endblock content %}
		</main>

		<footer class="flex justify-center">
			<small class="block w-full max-w-lg text-center p-6">(c) 2025 Kirill Taletski</small>
		</footer>
	</body>
</html>
